*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* main */

.main{
    display: flex;
}


#menu{
    height: 100vh;
    width:260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(/img/breadcrumb-bg.jpg) no-repeat center center/cover;
    position: relative;
    color: white;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }

    *{
        z-index: 1;
    }

}


#menu #logo{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 15px 0px;
}

#menu .options{

    display: flex;
    flex-direction: column;
    gap:10px;
    

    a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding: 15px 0px;
        display: flex;
        width: 260px;
        justify-content: center;



        i{
            padding-right: 8px;
        }

    }

    #is{
        background-color: rgba(71, 79, 84, 0.753);
        color:orange;
    }

}


.content{
    background-color: rgb(245, 245, 234);
    width: 100%;
}
.content .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding:0px 25px;
    font-size: 20px;
    color: gray;
    background-color: rgba(0, 0, 0, 0.9);

    

    .icons{
        display: flex;
        gap: 15px;
        align-items: center;

        input{
            border: none;
            border-bottom: 2px solid white;
            padding:5px;
            font-size: 16px;
            background: transparent;
        }
        i{
            color: gray;
        }
    }

}


.content{
     .insform{
        display: flex;
        justify-content: center;
        
        margin-top: 50px;
        
        form{
            position: relative;
            
            padding:30px;
            background-color: white;
            border: 3px dashed gray; 
            border-radius: 10px;
            align-items: center;

            h1{
                text-align: center;
                padding: 10px 5px;
                color: white;
                background-color: rgb(240, 186, 9);
                position: relative;
                border: none;
                border-radius: 5px;
                top: -60px;
            }
            label{
                color: rgb(65, 64, 64);
                font-size: 23px;
                padding: 20px;
                
            }
            input{
                
                border: 1px dashed gray;
                border-bottom:3px solid gray;
                background-color: transparent;
                border-radius: 5px;
                margin-bottom: 20px;
                padding: 5px;
                font-size: 18px;
                color: rgb(58, 58, 58);
                width: 50vh;
            }

            .btn{
                display: flex;
                justify-content: center;

                button{
                    font-size: 16px;
                    background-color: black;
                    color: white;
                    padding:15px 25px;
                    border: transparent;
                    border-radius:25px;
                }
            }
            
            
            
        }
        
        

        
    }

}



